{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Sign in' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="spacer_30">&nbsp;</div>
        <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="." method="post" accept-charset="UTF-8" role="form">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger"
                                     role="alert">{% trans 'Invalid username or password' %}</div>
                            {% endif %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" id="{{ form.username.id_for_label }}"
                                           placeholder="{{ form.username.label }}" name="{{ form.username.html_name }}"
                                           type="text">
                                    {{ form.username.errors }}
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="{{ form.password.id_for_label }}"
                                           placeholder="{{ form.password.label }}" name="{{ form.password.html_name }}"
                                           type="password" value="">
                                    {{ form.password.errors }}
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox"
                                               value="Remember Me"> {% trans 'Remember me' %}
                                    </label>
                                    <a href="#" class="pull-right">{% trans 'Forgot password' %}</a>
                                </div>
                                <input type="hidden" name="next" value="{{ next }}"/>
                                <input class="btn btn-mg btn-success btn-block" type="submit"
                                       value="{% trans 'Sign in' %}">
                            </fieldset>
                        </form>

                        <hr/>
                        <a href="{% url 'register' %}"
                           class="btn btn-mg btn-default btn-block">{% trans 'Sign up' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}