{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Changed password' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-success spacer_30" role="alert">
            {% trans 'Your password was changed.' %}
        </div>
    </div> <!-- /container -->
{% endblock %}