{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Sign up completed' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-success spacer_30" role="alert">
            {% trans 'Thank you for signing up to keep in touch with our website.' %}
        </div>
    </div> <!-- /container -->
{% endblock %}