{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Sign up' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="spacer_30">&nbsp;</div>
        <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="." method="post" class="form-horizontal">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% trans 'Please, fill the correct information in.' %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.username.label }}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                                           name="{{ form.username.html_name }}"
                                           placeholder="{{ form.username.label }}">
                                    {{ form.username.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.password1.label }}</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="{{ form.password1.id_for_label }}"
                                           name="{{ form.password1.html_name }}"
                                           placeholder="{{ form.password1.label }}">
                                    {{ form.password1.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.password2.label }}</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="{{ form.password2.id_for_label }}"
                                           name="{{ form.password2.html_name }}"
                                           placeholder="{{ form.password2.label }}">
                                    {{ form.password1.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-default">{% trans 'Sign up' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}