{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            {% block breadcrumb %}{% endblock %}
            {% block entry %}{% endblock %}

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>{% trans 'Blog Search' %}</h4>
                    <form action="{% url 'blog:post_index' %}" method="get" class="input-group">
                        <input id="{{ form.q.id_for_label }}" name="{{ form.q.html_name }}" type="text"
                               class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </form>
                    <!-- /.input-group -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci
                        accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>{% trans 'Blog Categories' %}</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <div class="well">
                    <h4>{% trans 'Popular Tags' %}</h4>
                    <div>
                        {% load tagging_tags %}
                        {% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
                        {% for tag in tags %}
                            <a href="{% url 'blog:tagging_post_list' tag.name %}"
                               class="label label-default">{{ tag.name }}</a>&nbsp;
                        {% endfor %}
                    </div>
                </div>

                <!-- Recent Posts Well -->
                <div class="well">
                    <h4>{% trans 'Recent Posts' %}</h4>
                    {% load blog_tags %}
                    <ul>
                        {% recent_posts 5 as posts %}
                        {% for post in posts %}
                            <li><a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:25 }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Recent Comments Well -->
                <div class="well">
                    <h4>{% trans 'Recent Comments' %}</h4>
                    {% load disqus_tags %}
                    {% disqus_recent_comments %}
                </div>

                <!-- Meta -->
                <div class="well">
                    <h4>{% trans 'Meta' %}</h4>
                    <ul>
                        <li><a href="{% url 'blog:post_archive' %}">{% trans 'Blog Archive' %}</a></li>
                        <li><a href="{% url 'blog:tagging_cloud' %}">{% trans 'Tag Cloud' %}</a></li>
                        <li><a href="{% url 'blog:post_feed' %}">{% trans 'RSS' %}</a></li>
                        {% if user.is_superuser %}
                            <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}