{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}Blog{% endblock %}

{% block breadcrumb %}
    <div class="container spacer_30">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active">{% trans 'Blog' %}</li>
        </ol>
    </div>
{% endblock %}

{% block entry %}
    <!-- Blog Entries Column -->
    <div class="col-md-8 post">

        <!-- Blog Entry -->
        {% for post in posts %}
            <div class="row">
                <div class="col-md-12">
                    <h3><strong><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></strong></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ post.get_absolute_url }}" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <p>
                        {{ post.description|safe|truncatewords:30|linebreaks }}
                    </p>
                    <p><a class="btn btn-sm btn-default" href="{{ post.get_absolute_url }}">{% trans 'Read more' %}</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p></p>
                    <p>
                        <i class="fa fa-user"></i> <a href="#">{{ post.author }}</a>
                        | <i class="fa fa-calendar"></i> {{ post.published|date:"Y-m-d H:m" }}
                        | <i class="fa fa-comment"></i> <a href="#">3 Comments</a>
                        | <i class="fa fa-share"></i> <a href="#">39 Shares</a>
                    </p>
                </div>
            </div>

            <!-- tags -->
            {% load tagging_tags %}
            <div class="panel-footer">
                {% tags_for_object post as tags %}
                {% for tag in tags %}
                    <a href="{% url 'blog:tagging_post_list' tag.name %}">
                        <span class="label label-default">{{ tag.name }}</span>
                    </a>
                {% empty %}
                    <span>&nbsp;</span>
                {% endfor %}
            </div>
            <hr/>
        {% endfor %}

        <!-- Pagination -->
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>
{% endblock %}