{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}{{ post.title }}{% endblock %}

{% block breadcrumb %}
    <div class="container spacer_30">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog:post_index' %}">{% trans 'Blog' %}</a></li>
            <li class="breadcrumb-item active">{{ post.title }}</li>
        </ol>
    </div>
{% endblock %}

{% block entry %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <!-- Blog Entry -->
        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <p>
                    <i class="fa fa-user"></i> <a href="#">{{ post.author }}</a>
                    | <i class="fa fa-calendar"></i> {{ post.published|date:"Y-m-d H:m" }}
                    | <i class="fa fa-comment"></i> <a href="#">3 Comments</a>
                    | <i class="fa fa-share"></i> <a href="#">39 Shares</a>
                    {% if user.is_superuser %}
                        | <i class="fa fa-edit"></i> <a href="{% url 'admin:blog_post_change' post.id %}">Edit</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 post">
                {% load blog_filters %}
                {{ post.content|markdownify }}
            </div>
        </div>
        <hr/>
        <!-- tags -->
        {% load tagging_tags %}
        <div class="panel-footer">
            {% tags_for_object post as tags %}
            {% for tag in tags %}
                <a href="{% url 'blog:tagging_post_list' tag.name %}">
                    <span class="label label-default">{{ tag.name }}</span>
                </a>
            {% empty %}
                <span>&nbsp;</span>
            {% endfor %}
        </div>
        <hr/>

        <!-- Pager -->
        <ul class="pager">
            {% with post.get_previous_post as previous_post %}
                {% if previous_post %}
                    <li class="next"><a href="{{ previous_post }}">{% trans 'Older &rarr;' %}</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">{% trans 'Older &rarr;' %}</a></li>
                {% endif %}
            {% endwith %}

            {% with post.get_next_post as next_post %}
                {% if next_post %}
                    <li class="previous">
                        <a href="{{ post.get_next_post }}">{% trans '&larr; Newer' %}</a>
                    </li>
                {% else %}
                    <li class="previous disabled">
                        <a href="#">{% trans '&larr; Newer' %}</a>
                    </li>
                {% endif %}
            {% endwith %}
        </ul>

        <!-- Disqus Comments -->
        {% load disqus_tags %}
        {% disqus_show_comments %}
    </div>
{% endblock %}