{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}{% trans 'Blog Archive' %}{% endblock %}

{% block breadcrumb %}
    <div class="container spacer_30">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog:post_index' %}">{% trans 'Blog' %}</a></li>
            <li class="breadcrumb-item active">{% trans 'Blog Archive' %}</li>
        </ol>
    </div>
{% endblock %}

{% block entry %}
    <div class="col-md-8 post">
        <h2>{% blocktrans with d=day|date:'N d, Y' %}Daily archive {{ d }}{% endblocktrans %}</h2>
        <hr/>

        <div>
            <ul>
                {% for post in posts %}
                    <li>{{ post.published|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;
                        <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr/>

        <!-- Pagination -->
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
