{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}{% trans 'Tag Cloud' %}{% endblock %}

{% block breadcrumb %}
    <div class="container spacer_30">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog:post_index' %}">{% trans 'Blog' %}</a></li>
            <li class="breadcrumb-item active">{% trans 'Tag Cloud' %}</li>
        </ol>
    </div>
{% endblock %}

{% block entry %}
    <!-- Tags Column -->
    <div class="col-md-8">
        {% load tagging_tags %}
        {% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
        {% for tag in tags %}
            <a href="{% url 'blog:tagging_post_list' tag.name %}" class="btn btn-default">
                {{ tag.name }} <span class="badge">{{ tag.font_size }}</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}